$md1: 1440px;
$md2: 1200px;
$md3: 992px;
$md4: 767px;
$md5: 568px;
$md6: 412px;

:root {}

html,
body {
    height: 100%;
    box-sizing: border-box;

}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Anton', sans-serif;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

body {

    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background: #1B1B1B url('../img/noise_bg.png') repeat-y;
    background-size: cover;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
    overflow-x: hidden;

    &.overlay {
        height: 100vh;
        overflow: hidden;
    }
}

.page-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.main {
    flex-grow: 1;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 15px;
    max-width: 1750px;
    width: 100%;
    margin: 0 auto;
}

.section-title {
    text-transform: uppercase;
    font-size: 64px;

    @media(max-width:$md5) {
        font-size: 40px;
    }
}


.btn {
    padding: 20px 50px;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    background: linear-gradient(91.51deg, #D4F63D 0%, #8624EC 98.9%);
    border-radius: 100px;
    border-radius: 100px;
    transition: all ease .2s;
    color: #fff;
    white-space: nowrap;

    &:hover {
        background: linear-gradient(91.51deg, #FBFF38 0%, #7719DA 98.9%);
    }

    &_transparent {
        border: 1px solid #fff;
        background: transparent;

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}

.main-link {
    white-space: nowrap;
    transition: all ease .2s;
    cursor: pointer;

    svg {
        transition: all ease .2s;
        fill: #fff;

        &.coingecko-icon {
            fill: #fff;
            stroke: #fff;
        }
    }

    &:hover {
        color: #8624EC;

        svg {
            fill: #1DA1F2;

            &.bscscan-icon {
                fill: #F2BA00;
            }

            &.magenta-icon {
                fill: #F95093;
            }

            &.coingecko-icon {
                fill: #8CC63F;
                stroke: #8CC63F;
            }
        }
    }
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #000;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #D4F63D;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
