<section id="About" class="about">
  <div class="container">
    <div class="about__header">
      <h2 class="about__title section-title">
        ABOUT
      </h2>
      <img class="about__decor" src="./img/corall.png" alt="corall">
    </div>
    <div class="about__wrapper">
      <div class="about__col">
        <div class="about__item">
          <h3 id="about-title" class="about__title-img">
            <img src="img/mask-monkey.png" alt="M">
          </h3>
        </div>
        <div class="about__item">
          <p>The year is 2050 on earth. Due to the continuous development of technology, mankind for the first time
            managed to create a rocket that can fly farther than </p>
        </div>
      </div>
      <div class="about__col">
        <div class="about__item about__item_title">
          <span class="about__subtitle about__subtitle_text">onkey</span>
        </div>
        <div class="about__item">the moon and open up new horizons of space. In the history of mankind there have been
          multiple launches of rockets with animals and at such a moment people decided to keep up with this tradition,
          deciding to take an animal with them. </div>
        <div class="about__item">We all know that monkeys are the closest to humans in physiology, and this is no
          accident, because at that time AI rose to a new level. Multiple tests of neurochips on animals gave their
          results and people were able to teach monkeys to make clear decisions and understand humans. Thus, for the
          first time, the animal Dreamless Monkey appears, which will fly into space as a member of the crew and will
          perform the tasks assigned to it. The rocket flight was successful and the astronauts, together with the
          monkey, began to open new horizons of space. </div>
      </div>
      <div class="about__col">
        <div class="about__item">At some point, out of nowhere, a portal appears and begins to attract a rocket. The
          astronauts are trying to fly away, but in the end they were dragged there. Once in a certain portal, they are
          thrown into another universe and by some miracle they remain alive. Having studied the area, they saw a new
          planet nearby and decided to land there. </div>
        <div class="about__item">
          <img src="img/about_monkey.png" alt="monkey">
        </div>
      </div>
      <div class="about__col">
        <div class="about__item">This planet was somewhat similar to the earth due to the lack of gravity and the
          presence of oxygen. During landing on a new planet, the astronauts lost control and were unable to land
          safely, unfortunately they died. One monkey remained alive, initially unconscious from the landing, but soon
          he woke up. As a result, he realized that he was left alone on the planet where he had to survive and somehow
          return home. Initially, this monkey lived like an animal before being taken away for neurochip testing and at
          the moment he can think like a person and make decisions. </div>
        <div class="about__item">Dreamless Monkey has a dream, one day he will return home, and for this he should
          survive on this planet and collect a fragment of other rockets and repair his own. Most importantly, in order
          to launch his rocket, he needs to collect a certain Crystal containing huge energy. On its way, Dreamless
          Monkey will have to fight with different entities, monsters, etc.</div>
      </div>
    </div>
  </div>
</section>
