<section id="#hero" class="hero">
  <div class="contrainer">
    <h1 class="hero__title">
      <span>Dawn</span>
      <span class="hero__title-small">on the</span>
      <span>planet</span>
      <br>
      <span class="hero__title-small">on the</span>
      <span class="hero__title-gradient">dreamless monkey</span>
    </h1>
    <div class="hero__img">
      <picture>
        <source media="(min-width: 768px)" srcset="./img/hero_monkey.png">
        <source media="(max-width: 768px)" srcset="./img/hero_monkey_mobile.png">
        <img class="lazy" data-src="./img/hero_monkey.png">
      </picture>
    </div>
  </div>
</section>
