<section id="NFT" class="nft">
  <div class="container">
    <h2 class="nft__title section-title">NFT and attributes</h2>
    <div class="nft__text">
      <p>Dawn of the planet of the dreamless monkey — this is a P2E game that will immerse you in a different world
        where you have to fight monsters to survive and return home. By purchasing one NFT from the DM Collection, you
        can enjoy the game to the fullest and explore new planets in an attempt to find unusual items to improve the
        skills of your character and his weapons.</p>
    </div>
    <div class="nft__collect">
      <div class="nft__collect-item nft-item">
        <div class="nft-item__img">
          <img src="./img/attributes/attr_1.png" alt="Elkanor">
        </div>
        <div class="nft-item__content">
          <h4 class="nft-item__name">Elkanor</h4>
          <div class="nft-item__descr">
            <p>An ax that restores the character's health from enemy damage.</p>
          </div>
        </div>
      </div>
      <div class="nft__collect-item nft-item">
        <div class="nft-item__img">
          <img src="./img/attributes/attr_2.png" alt="VIKI">
        </div>
        <div class="nft-item__content">
          <h4 class="nft-item__name">VIKI</h4>
          <div class="nft-item__descr">
            <p>The ax speeds up the movement of the character and gives protection from damage for a while.</p>
          </div>
        </div>
      </div>
      <div class="nft__collect-item nft-item">
        <div class="nft-item__img">
          <img src="./img/attributes/attr_3.png" alt="ASTRO">
        </div>
        <div class="nft-item__content">
          <h4 class="nft-item__name">ASTRO</h4>
          <div class="nft-item__descr">
            <p>A poison that temporarily grants great strength and takes away some of life.</p>
          </div>
        </div>
      </div>
      <div class="nft__collect-item nft-item">
        <div class="nft-item__img">
          <img src="./img/attributes/attr_4.png" alt="SPARK">
        </div>
        <div class="nft-item__content">
          <h4 class="nft-item__name">SPARK</h4>
          <div class="nft-item__descr">
            <p>Accelerates health recovery. Accelerates health recovery health recovery.</p>
          </div>
        </div>
      </div>
      <div class="nft__collect-item nft-item">
        <div class="nft-item__img">
          <img src="./img/attributes/attr_5.png" alt="OGRE">
        </div>
        <div class="nft-item__content">
          <h4 class="nft-item__name">OGRE</h4>
          <div class="nft-item__descr">
            <p>The monster that the Dreamless Monkey must fight. This is just one type of monster, on other levels
              of</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
