<section id="Partners" class="partners">
  <div class="container">
    <h2 class="partners__title section-title">Partners</h2>
    <div class="partners__wrapper">
      <a href="#" class="partners-link">
        <img src="img/partners/partner_1.png" alt="partner_1">
      </a>
      <a href="#" class="partners-link">
        <img src="img/partners/partner_2.png" alt="partner_2">
      </a>
      <a href="#" class="partners-link">
        <img src="img/partners/partner_3.png" alt="partner_3">
      </a>
      <a href="#" class="partners-link">
        <img src="img/partners/partner_4.png" alt="partner_4">
      </a>
      <a href="#" class="partners-link">
        <img src="img/partners/partner_5.png" alt="partner_5">
      </a>
      <a href="#" class="partners-link">
        <img src="img/partners/partner_6.png" alt="partner_6">
      </a>
      <a href="#" class="partners-link">
        <img src="img/partners/partner_7.svg" alt="partner_7">
      </a>
    </div>
  </div>
</section>
