<section id="Roadmap" class="roadmap">
  <div class="container">
    <h2 class="roadmap__title section-title">ROADMAP</h2>
    <div class="roadmap-content">
      <div class="roadmap-content__top">
        <div class="roadmap-content__wrapper">
          <div class="roadmap-content__col">
            <ul class="roadmap-list" data-count="1">
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker roadmap-list__elem-marker_active"></span>
                <span class="roadmap-list__elem-text">Create Santa Musk Website & Social Media</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Create SAMU token contract</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Pass KYC + Audit</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Phase 1 of Marketing</span>
              </li>
            </ul>
          </div>
          <div class="roadmap-content__col"></div>
          <div class="roadmap-content__col">
            <ul class="roadmap-list" data-count="2">
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">MEME contest</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">CoinGecko & Coinmarketcap Listing</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Christmas Presents</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Phase 3 of Marketing</span>
              </li>
            </ul>
          </div>
          <div class="roadmap-content__col roadmap-content__col_last-top">
            <ul class="roadmap-list" data-count="3">
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Utility & Usecase Introduction</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Staking Introduction</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Santa Musk 2022 NFT collections</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">CEX listings</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Phase 4 of Marketing</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="roadmap-content__line">
        <div class="roadmap-content__wrapper">
          <div class="roadmap-content__col">
            <div class="roadmap-content__num roadmap-content__num_active">1</div>
          </div>
          <div class="roadmap-content__col">
            <div class="roadmap-content__num">2</div>
          </div>
          <div class="roadmap-content__col">
            <div class="roadmap-content__num">3</div>
            <img class="roadmap-content__tree" src="img/tree.png" alt="tree">
          </div>
          <div class="roadmap-content__col">
            <div class="roadmap-content__num">4</div>
          </div>
        </div>
      </div>
      <div class="roadmap-content__bottom">
        <div class="roadmap-content__wrapper">
          <div class="roadmap-content__col"></div>
          <div class="roadmap-content__col">
            <ul class="roadmap-list" data-count="4">
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Building the Community</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Fairlaunch on Pinksale</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Launch on Pancakeswap and lock Liquidity</span>
              </li>
              <li class="roadmap-list__elem">
                <span class="roadmap-list__elem-marker"></span>
                <span class="roadmap-list__elem-text">Phase 2 of Marketing</span>
              </li>
            </ul>
          </div>
          <div class="roadmap-content__col"></div>
          <div class="roadmap-content__col roadmap-content__col_last-bottom"></div>
        </div>
      </div>
    </div>
  </div>
</section>
