<section id="Team" class="team">
  <div class="team__decor">
    <img class="lazy" data-src="img/plant_2.png" alt="decor">
  </div>
  <div class="container">
    <h2 class="team__title section-title">
      Team
    </h2>
    <div class="team__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide team-item team-item_1">
          <div class="team-item__photo">
            <img class="lazy" data-src="./img/team/team_1.png" alt="avatar">
          </div>
          <div class="team-item__descr">
            <span>Robert</span>
            <span>CEO</span>
          </div>
        </div>
        <div class="swiper-slide team-item team-item_2">
          <div class="team-item__photo">
            <img class="lazy" data-src="./img/team/team_2.png" alt="avatar">
          </div>
          <div class="team-item__descr">
            <span>Harry</span>
            <span>Programmer</span>
          </div>
        </div>
        <div class="swiper-slide team-item team-item_3">
          <div class="team-item__photo">
            <img class="lazy" data-src="./img/team/team_3.png" alt="avatar">
          </div>
          <div class="team-item__descr">
            <span>George</span>
            <span>Software Tester</span>
          </div>
        </div>
        <div class="swiper-slide team-item team-item_4">
          <div class="team-item__photo">
            <img class="lazy" data-src="./img/team/team_4.png" alt="avatar">
          </div>
          <div class="team-item__descr">
            <span>Jacob</span>
            <span>Developer</span>
          </div>
        </div>
        <div class="swiper-slide team-item team-item_5">
          <div class="team-item__photo">
            <img class="lazy" data-src="./img/team/team_5.png" alt="avatar">
          </div>
          <div class="team-item__descr">
            <span>Oliver</span>
            <span>Marketing</span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
