<section id="Tokenomics" class="tokemoniks">
  <div class="container">
    <div class="tokemoniks__wrapper">
      <div class="tokemoniks__left tokemoniks__decor">
        <img src="img/tokemoniks_corall_1.png" alt="corall">
      </div>
      <div class="tokemoniks__content">
        <h2 class="tokemoniks__title section-title">Tokenomics</h2>
        <div class="tokemoniks__copy">
          <input id="token" type="text" readonly value="0xdb305f8b9B45c92a8e71637e4E8C7dcfF8054e1b"
            class="tokemoniks__copy-input">
          <button id="copy-token" class="tokemoniks__copy-btn btn">
            <img src="img/copy.svg" alt="Copy">
            <span>Copy contract</span>
          </button>
        </div>
        <div class="tokemoniks__statistic">
          <div class="tokemoniks__col">
            <div class="tokemoniks__progress">
              <span class="tokemoniks__progress-bar" style="height: 30%"></span>
            </div>
            <div class="tokemoniks__statistic-percent">3%</div>
            <div class="tokemoniks__statistic-name">Influencers</div>
          </div>
          <div class="tokemoniks__col">
            <div class="tokemoniks__progress">
              <span class="tokemoniks__progress-bar" style="height: 30%"></span>
            </div>
            <div class="tokemoniks__statistic-percent">7%</div>
            <div class="tokemoniks__statistic-name">CEX listings</div>
          </div>
          <div class="tokemoniks__col">
            <div class="tokemoniks__progress">
              <span class="tokemoniks__progress-bar" style="height: 30%"></span>
            </div>
            <div class="tokemoniks__statistic-percent">11%</div>
            <div class="tokemoniks__statistic-name">Team</div>
          </div>
          <div class="tokemoniks__col">
            <div class="tokemoniks__progress">
              <span class="tokemoniks__progress-bar" style="height: 30%"></span>
            </div>
            <div class="tokemoniks__statistic-percent">11%</div>
            <div class="tokemoniks__statistic-name">Airdrop</div>
          </div>
          <div class="tokemoniks__col">
            <div class="tokemoniks__progress">
              <span class="tokemoniks__progress-bar" style="height: 30%"></span>
            </div>
            <div class="tokemoniks__statistic-percent">50%</div>
            <div class="tokemoniks__statistic-name">Liquidity</div>
          </div>
          <div class="tokemoniks__col">
            <div class="tokemoniks__progress">
              <span class="tokemoniks__progress-bar" style="height: 30%"></span>
            </div>
            <div class="tokemoniks__statistic-percent">83%</div>
            <div class="tokemoniks__statistic-name">Presale</div>
          </div>
        </div>
      </div>
      <div class="tokemoniks__right tokemoniks__decor">
        <img src="img/tokemoniks_corall_2.png" alt="corall">
      </div>
    </div>
  </div>
</section>
